<div class="card">
	{% if post.image %}
		<img class="card-img-top" src="{{post.image.url}}" alt="Image">
	{% endif %}

  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>

	{% if truncate %}
	    <p class="card-text">
		    {{post.content|linebreaks|truncatewords:30}}</p>
		<h6 class="card-text">
			<a href="{{post.get_absolute_url}}" class="card-link">View Post</a>
			<p class="card-text">
			<small class="text-muted">Last updated on {{post.updated}}</small></p>
		</h6>

	{% else %}
	    <p class="card-text">
		<small class="text-muted">Created on {{post.timestamp}} by {{post.user.full_name}}</small></p>
		<p class="card-text">
	    {{post.content|linebreaks}}</p>

	    {% if user.is_authenticated %}
		<h6 class="card-text">
			<p class="card-text">
			    <a href="/blog" class="card-link">Back</a>
			    <a href="{{post.get_edit_url}}" class="card-link">Edit Post</a>
			    <a href="{{post.get_delete_url}}" class="card-link">Delete Post</a></p>
			<p class="card-text">
			<small class="text-muted">Last updated on {{post.updated}} by {{post.user.full_name}}</small></p>
		</h6>
		{% endif %}
		{% endif %}

  </div>
</div>
